article{
    padding: 32px;
}
.allCourses {
    .dropdown-toggle::after{
        display: none;
    }
}

.assignment_leftside{
    width: 35.65%;
    a{
        padding: 12px;
    }
}
.assignment_rightside{
    width: 64.35%;
    h3{
        font-size: 16px;
        line-height: 24px;
    }
    .assignment_r_title{
        padding: 12px 16px;
    }
    .assignment_r_content{
        padding: 16px;
    }
    .texttag{
        color: $primary;
        background-color: $secondary;
    }
    .attachment{
        border: 1px solid $border;
        width: 180px;
        height: 40px;
        padding: 11px 16px 10px 12px;
    }
    
    .assignment_r_footer{
        padding: 16px 0;
    }

    .collapse_reply{
        width: 100%;
        position: absolute;
        top: 48%;
        left: 0;
        .collapse_head{
            height: 56px;
            .dropdown-toggle::after{
                margin-left: 0.5rem;
            }
        }
        .collapse_body{
            height: 220px;
        }
        textarea{
            width: 100%;
        }
    }
    .collapse_reply.collapsing {
        height: auto !important;
        margin-right: 50%;
        right: -50%;
        bottom: -50%;
        transition: all 0.5s ease;
    }   
}