// h1 圖片取代文字
h1 {
    height: 24px;
    display: flex;
    align-items: center;

    a {
        width: 96px;
        height: 24px;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        
    }
    .logo_img1{
      background-image: url('https://hexschool.github.io/webLayoutTraining1st/week8/logo-aloha.svg');
    }
}

.collapse-position{
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 2;
  @include md{
    position: static;
  }
}
