<section class="bg-light py-4 py-md-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-5 mb-3 mb-md-0">
                <h3 class="h4 h2-lg text-title font-weight-bold">Subscribe for Exclusive Offer</h3>
            </div>
            <div class="col-md-8 col-lg-7">
                <form class="input-group w-100 h-56p">
                    <input type="email" id="mail"
                        class="form-control border border-primary border-2 rounded-left w-64percent h-100 pl-3"
                        placeholder="Your email address">
                    <input type="submit" value="Subscribe"
                        class="form-control btn btn-primary font-weight-bold text-uppercase w-36percent h-100 px-4">
                </form>
            </div>
        </div>
    </div>
</section>