<footer class="text-sm container text-gray610 py-4">
  <div class="row align-items-baseline">
    <div class="col-lg-8 offset-lg-2 d-flex flex-column flex-md-row justify-content-md-between align-items-center">
      <p class="footer_copyright order-1 order-md-0 mb-0">© 2020 ALOHA, Inc. All rights reserved.</p>
      <ul class="d-flex mb-3 mb-md-0">
        <li class="mr-4"><a href="#">FAQs</a></li>
        <li class="mr-4"><a href="#">Terms of use</a></li>
        <li><a href="#">Privacy policy</a></li>
      </ul>
    </div>
  </div>
</footer>