.container{
    width: 1200px;
    margin: 0 auto;
}

.postion-r{
    position: relative;
}

.title{
    font-size: 64px;
    line-height: 75px;
}

img{
    display:block;
}

a{
    color: unset;
    text-decoration: none;
}