/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.postion-r {
  position: relative;
}

.title {
  font-size: 64px;
  line-height: 75px;
}

img {
  display: block;
}

a {
  color: unset;
  text-decoration: none;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-medium {
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

.text-ch {
  font-size: 20px;
}

.multiLineHeight {
  line-height: 36px;
}

.multiLineHeight-ch {
  line-height: 30px;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.ml-6 {
  margin-left: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pt-6 {
  padding-top: 3rem;
}

.pr-6 {
  padding-right: 3rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.pl-6 {
  padding-left: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mt-7 {
  margin-top: 3.5rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.ml-7 {
  margin-left: 3.5rem;
}

.mx-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.pt-7 {
  padding-top: 3.5rem;
}

.pr-7 {
  padding-right: 3.5rem;
}

.pb-7 {
  padding-bottom: 3.5rem;
}

.pl-7 {
  padding-left: 3.5rem;
}

.px-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mr-8 {
  margin-right: 4rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.ml-8 {
  margin-left: 4rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.pt-8 {
  padding-top: 4rem;
}

.pr-8 {
  padding-right: 4rem;
}

.pb-8 {
  padding-bottom: 4rem;
}

.pl-8 {
  padding-left: 4rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mt-9 {
  margin-top: 4.5rem;
}

.mr-9 {
  margin-right: 4.5rem;
}

.mb-9 {
  margin-bottom: 4.5rem;
}

.ml-9 {
  margin-left: 4.5rem;
}

.mx-9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.my-9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.pt-9 {
  padding-top: 4.5rem;
}

.pr-9 {
  padding-right: 4.5rem;
}

.pb-9 {
  padding-bottom: 4.5rem;
}

.pl-9 {
  padding-left: 4.5rem;
}

.px-9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.py-9 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.mt-10 {
  margin-top: 5rem;
}

.mr-10 {
  margin-right: 5rem;
}

.mb-10 {
  margin-bottom: 5rem;
}

.ml-10 {
  margin-left: 5rem;
}

.mx-10 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pt-10 {
  padding-top: 5rem;
}

.pr-10 {
  padding-right: 5rem;
}

.pb-10 {
  padding-bottom: 5rem;
}

.pl-10 {
  padding-left: 5rem;
}

.px-10 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.mt-11 {
  margin-top: 5.5rem;
}

.mr-11 {
  margin-right: 5.5rem;
}

.mb-11 {
  margin-bottom: 5.5rem;
}

.ml-11 {
  margin-left: 5.5rem;
}

.mx-11 {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

.my-11 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.pt-11 {
  padding-top: 5.5rem;
}

.pr-11 {
  padding-right: 5.5rem;
}

.pb-11 {
  padding-bottom: 5.5rem;
}

.pl-11 {
  padding-left: 5.5rem;
}

.px-11 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.py-11 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.mt-12 {
  margin-top: 6rem;
}

.mr-12 {
  margin-right: 6rem;
}

.mb-12 {
  margin-bottom: 6rem;
}

.ml-12 {
  margin-left: 6rem;
}

.mx-12 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-12 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.pt-12 {
  padding-top: 6rem;
}

.pr-12 {
  padding-right: 6rem;
}

.pb-12 {
  padding-bottom: 6rem;
}

.pl-12 {
  padding-left: 6rem;
}

.px-12 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-12 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.mt-13 {
  margin-top: 6.5rem;
}

.mr-13 {
  margin-right: 6.5rem;
}

.mb-13 {
  margin-bottom: 6.5rem;
}

.ml-13 {
  margin-left: 6.5rem;
}

.mx-13 {
  margin-left: 6.5rem;
  margin-right: 6.5rem;
}

.my-13 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.pt-13 {
  padding-top: 6.5rem;
}

.pr-13 {
  padding-right: 6.5rem;
}

.pb-13 {
  padding-bottom: 6.5rem;
}

.pl-13 {
  padding-left: 6.5rem;
}

.px-13 {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.py-13 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.mt-14 {
  margin-top: 7rem;
}

.mr-14 {
  margin-right: 7rem;
}

.mb-14 {
  margin-bottom: 7rem;
}

.ml-14 {
  margin-left: 7rem;
}

.mx-14 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.my-14 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.pt-14 {
  padding-top: 7rem;
}

.pr-14 {
  padding-right: 7rem;
}

.pb-14 {
  padding-bottom: 7rem;
}

.pl-14 {
  padding-left: 7rem;
}

.px-14 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.py-14 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.mt-15 {
  margin-top: 7.5rem;
}

.mr-15 {
  margin-right: 7.5rem;
}

.mb-15 {
  margin-bottom: 7.5rem;
}

.ml-15 {
  margin-left: 7.5rem;
}

.mx-15 {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.my-15 {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.pt-15 {
  padding-top: 7.5rem;
}

.pr-15 {
  padding-right: 7.5rem;
}

.pb-15 {
  padding-bottom: 7.5rem;
}

.pl-15 {
  padding-left: 7.5rem;
}

.px-15 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.py-15 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.mt-16 {
  margin-top: 8rem;
}

.mr-16 {
  margin-right: 8rem;
}

.mb-16 {
  margin-bottom: 8rem;
}

.ml-16 {
  margin-left: 8rem;
}

.mx-16 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-16 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.pt-16 {
  padding-top: 8rem;
}

.pr-16 {
  padding-right: 8rem;
}

.pb-16 {
  padding-bottom: 8rem;
}

.pl-16 {
  padding-left: 8rem;
}

.px-16 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-16 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.mt-17 {
  margin-top: 8.5rem;
}

.mr-17 {
  margin-right: 8.5rem;
}

.mb-17 {
  margin-bottom: 8.5rem;
}

.ml-17 {
  margin-left: 8.5rem;
}

.mx-17 {
  margin-left: 8.5rem;
  margin-right: 8.5rem;
}

.my-17 {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}

.pt-17 {
  padding-top: 8.5rem;
}

.pr-17 {
  padding-right: 8.5rem;
}

.pb-17 {
  padding-bottom: 8.5rem;
}

.pl-17 {
  padding-left: 8.5rem;
}

.px-17 {
  padding-left: 8.5rem;
  padding-right: 8.5rem;
}

.py-17 {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
}

.mt-18 {
  margin-top: 9rem;
}

.mr-18 {
  margin-right: 9rem;
}

.mb-18 {
  margin-bottom: 9rem;
}

.ml-18 {
  margin-left: 9rem;
}

.mx-18 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.my-18 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.pt-18 {
  padding-top: 9rem;
}

.pr-18 {
  padding-right: 9rem;
}

.pb-18 {
  padding-bottom: 9rem;
}

.pl-18 {
  padding-left: 9rem;
}

.px-18 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.py-18 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.mt-19 {
  margin-top: 9.5rem;
}

.mr-19 {
  margin-right: 9.5rem;
}

.mb-19 {
  margin-bottom: 9.5rem;
}

.ml-19 {
  margin-left: 9.5rem;
}

.mx-19 {
  margin-left: 9.5rem;
  margin-right: 9.5rem;
}

.my-19 {
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;
}

.pt-19 {
  padding-top: 9.5rem;
}

.pr-19 {
  padding-right: 9.5rem;
}

.pb-19 {
  padding-bottom: 9.5rem;
}

.pl-19 {
  padding-left: 9.5rem;
}

.px-19 {
  padding-left: 9.5rem;
  padding-right: 9.5rem;
}

.py-19 {
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}

.mt-20 {
  margin-top: 10rem;
}

.mr-20 {
  margin-right: 10rem;
}

.mb-20 {
  margin-bottom: 10rem;
}

.ml-20 {
  margin-left: 10rem;
}

.mx-20 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.my-20 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.pt-20 {
  padding-top: 10rem;
}

.pr-20 {
  padding-right: 10rem;
}

.pb-20 {
  padding-bottom: 10rem;
}

.pl-20 {
  padding-left: 10rem;
}

.px-20 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.py-20 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 24px;
  line-height: 28px;
}

header {
  height: 958px;
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week2/banner.png");
  background-size: cover;
  background-position: center center;
}

header .header__box {
  width: 304px;
  margin: 0 auto;
  padding-top: 356px;
  font-family: Roboto;
}

header .header__box .header__tittle {
  font-size: 80px;
  line-height: 94px;
}

header .header__box .header__links {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  width: 412px;
  margin: 0 auto;
}

.about .exlist::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
  margin-right: 1rem;
}

.myBrand {
  background-color: #000;
}

.myBrand .brand_text {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.myBrand .brand_img {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.otherWorks .work_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: #000;
}

a:hover {
  color: #FCBC0C;
}
/*# sourceMappingURL=all_v2.css.map */