<header>
    <nav class="navbar navbar-expand-lg navbar-perfume container pt-2 pb-0 pb-lg-2 px-0 mx-0 mx-lg-auto">
        <h1 class="mr-auto pl-3 pl-lg-0"><a href="index.html" class="logo_img1">香水電商</a></h1>
        <a href="#" class="d-lg-none position-r mr-3"><span class="link_cart"><span
                    class="material-icons text-mid">shopping_cart</span></span></a>
        <button class="navbar-toggler border-0 pr-3 pr-lg-0" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mb-1"></span>
        </button>
        <div class="collapse navbar-collapse navbar-perfume" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-border mr-lg-2x"><a href="product.html"
                        class="nav-link d-flex align-items-center justify-content-center"><span
                            class="material-icons d-none d-lg-block">store</span>Product</a></li>
                <li class="nav-item nav-item_1 nav-item-border mr-lg-2x"><a href="#"
                        class="nav-link d-flex align-items-center justify-content-center"><span
                            class="material-icons d-none d-lg-block">favorite</span>Wishlist</a></li>
                <li class="nav-item nav-item-border mr-lg-2x d-lg-none"><a href="#"
                        class="nav-link d-flex align-items-center justify-content-center">Blog</a></li>
                <li class="nav-item nav-item-border mr-lg-2x d-lg-none"><a href="#"
                        class="nav-link d-flex align-items-center justify-content-center">Contact</a></li>
                <li class="nav-item mr-lg-2x"><div 
                        class="nav-link d-flex align-items-center justify-content-center"><span
                            class="material-icons d-none d-lg-block">person</span>Mypage
                        (<a href="login.html" class="h7 mx-1">log out</a>)</div></li>
                <li class="nav-item nav-item_2"><a href="#"
                        class="nav-link align-items-center justify-content-center d-none d-lg-flex"><span
                            class="material-icons d-none d-lg-block">shopping_cart</span>Cart(3)</a></li>
            </ul>
        </div>
    </nav>
</header>