<section class="bg-primary text-white">
    <div class="container">
        <div class="row">
            <ul class="col-12 d-none d-md-flex px-12p py-3">
                <li class="pr-1 mr-4"><a href="#">CHANEL</a></li>
                <li class="pr-1 mr-4"><a href="#">Jo Malone</a></li>
                <li class="pr-1 mr-4"><a href="#">Curology</a></li>
                <li class="pr-1 mr-4"><a href="#">Dior</a></li>
                <li class="pr-1 mr-4"><a href="#">Chloe</a></li>
                <li><a href="#">ZARA</a></li>
            </ul>
        </div>
    </div>
</section>