<footer class="bg-primary text-white">
  <div class="container py-3">
    <div class="row align-items-center no-gutters">
      <div class="col-lg-8 d-flex align-items-center justify-content-between justify-content-lg-start">
        <h1 class="mr-3"><a href="index.html" class="logo_img2">香水電商</a></h1>
        <p class="footer_copyright mb-0">© 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <ul class="d-flex align-items-center">
          <li class="mr-36p h6"><a href="product.html">Product</a></li>
          <li class="mr-36p h6"><a href="#">Blog</a></li>
          <li class="h6"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>