.border-1px{
    border: 1px solid $border;
}
.border-bot-0{
    border-bottom: 0;
}
.border-0{
    border: 0;
}
.border_bot-1px{
    border-bottom: 1px solid $border;
}

.lh-24{
    line-height: 24px;
}
.lh-21{
    line-height: 21px;
}
.lh-19{
    line-height: 19px;
}

.vertical-align-bot{
    vertical-align: bottom;
}
.vertical-align-base{
    vertical-align: baseline;
}
.vertical-align-mid{
    vertical-align: middle;
}