.swiper-container.banner {
    width: 100%;
    .swiper-slide {
        height: unset !important;
        text-align: center;
    
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    
        h2 {
            width: 60.5%;
            @include md {
                width: 54%;
            }
    
            @include lg {
                width: 45%;
            }
        }
    }
    .pt_adjust_swiper{
        padding-top: 30%;
        padding-bottom: 30%;
        @include md {
            padding-top: 11.5%;
            padding-bottom: 11.5%;
        }
    }
}


.swiper-container.inspiration,
.swiper-container.topChoice{
    .swiper-slide { 
        width: 72% ;
        @include md{
            width: 35.15%;
        }
    }
}

//topchoice 按鈕樣式
.topChoice {
    .swiper-button-next {
        padding: 12px 22px;
        border-radius: 50%;
        background-color: rgba(#F1F0F8, 0.8);
        top: 30%;

        &:hover {
            background-color: $primary;

            &::after {
                color: white;
            }
        }

        &::after {
            color: black;
            font-size: 10px;
            font-weight: bold;
        }
    }
}