<header>
    <nav class="navbar navbar-expand-md navbar-light container align-items-baseline py-3 py-md-4">
        <h1 class="navbar-brand order-1 order-md-0"><a href="index.html" class="logo_img1">ALOHA訂房</a></h1>
        <button class="navbar-toggler border-0 pl-0" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mb-1"></span>
        </button>
        <div class="collapse navbar-collapse collapse-position" id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-center pl-3 pl-lg-0">
                <li class="nav-item mr-0 mr-md-5">
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="material-icons h5">language</span>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">English</a>
                          <a class="dropdown-item" href="#">繁體中文</a>
                          <a class="dropdown-item" href="#">簡體中文</a>
                          <a class="dropdown-item" href="#">日本語</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item mr-0 mr-md-5">
                    <a class="nav-link text-roboto" href="#">Sign up</a>
                </li>
                <li class="nav-item d-none d-md-block text-roboto">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
            </ul>
        </div>
        <a href="login.html" class="d-md-none order-2 order-md-0 text-roboto">Login</a>
    </nav>
</header>