<footer class="text-sm container text-gray610 py-4">
  <div class="row align-items-baseline">
    <div class="col-12 col-md-5 col-lg-3 order-1 order-md-0 d-flex justify-content-center justify-content-md-start">
      <p class="footer_copyright mb-0">© 2020 ALOHA, Inc. All rights reserved.</p>
    </div>
    <ul class="col-12 col-md-5 col-lg-4 offset-md-2 offset-lg-0 d-flex justify-content-center justify-content-md-end mb-0">
      <li class="mr-4"><a href="#">FAQs</a></li>
      <li class="mr-4"><a href="#">Terms of use</a></li>
      <li><a href="#">Privacy policy</a></li>
    </ul>
    <div class="col-lg-3 offset-lg-2 d-none d-lg-flex justify-content-end">
      <div class="mr-4 d-flex align-items-center">
        <span class="material-icons">language</span>
        <form>
          <div class="form-group mb-0">
            <select class="form-control mb-0">
              <option selected>English</option>
              <option>繁體中文</option>
              <option>簡體中文</option>
              <option>日本語</option>
            </select>
          </div>
        </form>
      </div>
      <a href="#" class="d-flex align-items-center">
        <span class="material-icons">attach_money</span>
        <span>TWD</span>
        <span class="material-icons h6 font-weight-bold">keyboard_arrow_down</span>
      </a>
    </div>
  </div>
</footer>
