<!-- Modal 購物車-->
<div class="modal fade" id="cartModalCenter" tabindex="-1" role="dialog" aria-labelledby="cartModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border border-light rounded">
                <h6 class="modal-title text-primary text-center font-weight-semibold w-100" id="favoriteModalCenterTitle">已加入購物車</h6>
            </div>
        </div>
    </div>
  </div>

<!-- Modal 收藏-->
<div class="modal fade" id="favoriteModalCenter" tabindex="-1" role="dialog" aria-labelledby="favoriteModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-light rounded">
                <h6 class="modal-title text-primary text-center font-weight-semibold w-100" id="favoriteModalCenterTitle">已加入我的收藏</h6>
            </div>
        </div>
    </div>
</div>