*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial, "微軟正黑體", sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    display: block;
    color: unset;
    text-decoration: none;

    &:hover {
        color: darken($primary, 20%) !important;
        font-weight: 700;
        text-shadow: 3px 1px 5px rgba(128,128, 128, 0.4);
    }
    &.btn:hover{
        color: #fff !important;
    }
    &.btn-outline-black:hover{
        color: #000 !important;
    }
    &.disabled:hover{
        color: unset !important;
        font-weight: 400;
    }
}

input{
    border: 1px solid $gray-400;
    border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin-bottom: 0;
}

.position-r {
    position: relative;
}
.position-ab {
    position: absolute;
}






