//border
.border-2{
    border-width: 2px !important;
}
.border-bot{
    border-bottom: 1px solid;
}
.border-md-bot{
    @include md{
        border-bottom: 1px solid;
    }
}
.border-left{
    border-left: 1px solid;
}
.border-md-0{
    border-width: 1px;
    @include md{
        border-width: 0;
    }
}
.border-radius-4px{
    border-radius: 0.25rem;
    @include md{
        border-radius: $card-border-radius;
    }
}
.border-radius-md-8px{
    border-radius: 0;
    @include md{
        border-radius: $card-border-radius;
    }
}
.rounded-8px{
    border-radius: 8px;
}

.rounded-top-8px{
    border-radius: 8px 8px 0 0;
}
.rounded-left-md-8px{
    @include md{
        border-radius: 8px 0 0 8px !important;
    }
}
.rounded-bot-8px{
    border-radius: 0 0 8px 8px;
}


// font-family設定
.text-title{
    font-family: 'Raleway', sans-serif;
}

$fontFamily: (
    'openSans': 'Open Sans',
    'raleway' : 'Raleway',
    'roboto' : 'Roboto',
);
@each $fontname,$fontvalue in $fontFamily {
    .text-#{$fontname}{
        font-family: $fontvalue, sans-serif;
    }
}
// font-weight設定
$fontWeight: (
    'reqular': 400,
    'medium' : 500,
    "semibold" :600,
    "bold" :700,
    "extrabold" :800,
    "black" :900,
);
@each $key,$value in $fontWeight {
    .font-weight-#{$key} {
        font-weight: $value;
    }
}

//字級大小
.text-xxl{
    font-size: 48px;
}
.text-md{
    font-size: 18px;
}
.text-sm{
    font-size: 14px;
}
.text-xs{
    font-size: 12px;
}

.text-md-sm{
    @include md{
        font-size: 14px;
    }
}
.text-lg-normal{
    font-size: 12px;
    @include lg{
        font-size: 16px;
    }
}

.text-xxl-md{
    @include md{
        font-size: 48px;
    }
}
.h2-md{
    @include md{
        font-size: 32px;
    }
}
.h2-lg{
    @include lg{
        font-size: 32px;
    }
}
.h4-md{
    @include md{
        font-size: 24px;
    }
}
.h4-lg{
    @include lg{
        font-size: 24px;
    }
}
.h6-lg{
    @include lg{
        font-size: 16px;
    }
}

//行高
.lh-1rem{
    line-height: 1rem;
}
.lh-symbol{
    line-height: 1.25rem;
}

//對齊

.vertical-align-bot{
    vertical-align: bottom;
}
.vertical-align-mid{
    vertical-align: middle;
}
.vertical-align-base{
    vertical-align: baseline;
}

.text-md-left{
    text-align: center;
    @include md{
        text-align: left;
    }
}


//寬高設定
.w-lg-50{
    @include lg{
        width: 50%;
    }
}
.h-42p{
    height: 42px;
}

.h-56p{
    height: 56px;
}
.h136{
    height: 136px;
}
.h-lg-100p{
    @include lg{
        height: 100px;
    }
}


.w-36percent{
    width: 36% !important;
}
.w-64percent{
    width: 64% !important;
}

.w-md-auto{
    @include md{
        width: auto !important;
    }
}


//間距
.mb-md-24p{
    margin-bottom: 20px;
    @include md{
        margin-bottom: 24px;
    }
}
.mb-48p-lg-72p{
    margin-bottom: 48px;
    @include lg{
        margin-bottom: 72px;
    }
}
.mb-48p-lg-66p{
    margin-bottom: 48px;
    @include lg{
        margin-bottom: 66px;
    }
}

//圖層序位
.z-index-1{
    position: relative;
    z-index: 1;
}
.z-index-2{
    position: relative;
    z-index: 2;
}

//圖片
.bg-center{ 
    background-position: center center;
    background-size: cover;
}
.img-center{ 
    object-position: center center;
    object-fit: cover;
}
.img-contain{ 
    object-position: center center;
    object-fit: contain;
}
.img-hover{
    transition: transform 0.5s ease-out;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}


//其他

.overflow-hid{
    overflow: hidden;
}

.box-shadow{
    box-shadow: 1px 1px 8px rgba($gray-610,0.3);
}


.bg-md-transparent{
    @include md{
        background-color: transparent !important;
    }
}
.bg-md-white{
    @include md{
        background-color: #fff !important;
    }
}


.visibility_hid{
    visibility: hidden;
}
.d-hide{
    display: none ;
}


.transform_rotate180{
    transform: rotate(180deg);
}
.transition{
    transition: all 0.8s;
}

.cursor-pointer{
    cursor: pointer;
}

.px-0-md-15{
    padding-left: 0;
    padding-right: 0;
    @include md{
        padding-left: 15px;
        padding-right: 15px;
    }
}

